body {
    background-color: #bcc7ff;
}

p {
    text-align: center;
    display:  inline-block;
    font-family: "cream DEMO";
    text-align:  center;
    left: 50%;
    top: 50%;
    width:50%;
    height:50%;
    z-index: 1000;
    margin-left: 25%;
    margin-top:  1%;
    margin-bottom: 1.5%;
}

h1 {
    font-family: "MADE gentle";
    font-weight: lighter;
    text-align: center;
}

.pill-nav a {
    background-color: #feffa3;
    border: none;
    border-radius: 9px;
    color: #b45587;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-family: "cream DEMO";
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 0.001%;
    cursor: pointer;
}

.pill-nav a:hover {background-color: #bae1ff;}

h2 {
    text-align: center;
}

img {
    border-radius: 9px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



